<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav>
    <div class="navbar">
      <div id="nav1">
        <a href="#">Home</a>
      </div>
      <div id="nav2">
        <a href="search">Search</a>
      </div>
      <div id>
        <a href="form">Add User</a>
      </div>
    </div>
  </nav>
  <% for(let i=0;i<users.length;i++) {%>
    <ul class="form">
      <li>First name : <%= users[i].firstname%></li>
      <li>Last name : <%= users[i].lastname %></li>
      <li>Email : <%= users[i].email %></li>
    </ul>
  <%}%>
</body>
</html>
